<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
 	<link rel="shortcut icon" th:href="@{image/icon.png}">
 	<link rel="stylesheet" th:href="@{css/login.css}">
    <!--[if lt IE 9]>
	<script th:src="@{../js/html5.min.js}"></script>
	<script th:src="@{../js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<div class="card">
			<form class="card-form">
				<div class="input">
					<i style=""></i>
					<input type="text" class="input-field" value="" required />
					<label class="input-label">用户</label>
				</div>
				<div class="input">
					<input type="password" class="input-field" required />
					<label class="input-label">密码</label>
				</div>
				<div class="input">
					<input type="text" class="input-field" value="" required />
					<label class="input-label">验证码</label>
				</div>
				<div class="action">
					<button class="action-button">登录</button>
				</div>
			</form>
			<div class="card-info">
				<p>
<!-- 					注册前请先仔细阅读 <a href="#">使用条款</a> -->
				</p>
			</div>
		</div>
	</div>
</body>
</html>