<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/app.css}">
	<script th:src="@{/js/jquery/jquery.min.js}"></script>
	 
</head>
<body>
 	<div class="container-fluid">
		<p class="text-primary">xxx 您好，欢迎登录系统，今天是：2020年9月27日 17:04:50 星期日！</p>
 	</div>
	
</body>
</html>