<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{css/app.css}">
	<script th:src="@{/js/jquery/jquery.min.js}"></script>
	<script type="text/javascript">
	</script>
</head>
<body>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">@</span>
	  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
	</div>
	<div class="progress">
  		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" style="width: 100%">
    		<span class="sr-only">45% Complete</span>
  		</div>
	</div>
	
</body>
</html>