<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
        <title>index</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" th:href="@{/plugins/X-admin-2.2/css/font.css}">
        <link rel="stylesheet" th:href="@{/plugins/X-admin-2.2/css/xadmin.css}">
      	<!-- <link rel="stylesheet" th:href="@{/plugins/X-admin-2.2/css/theme5.css}">  --> 
        <script th:src="@{/plugins/layui-2.5.6/layui.js}" charset="utf-8"></script>
        <script th:src="@{/plugins/X-admin-2.2/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	    <!--[if lt IE 9]>
		<script th:src="@{/js/common/html5.min.js}"></script>
		<script th:src="@{/js/common/respond.min.js}"></script>
	    <![endif]-->
		<script th:src="@{/js/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/sys/index.js}"></script>
        <script>
            // 是否开启刷新记忆tab功能
         	//var is_remember = true;
        </script>
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="" class="layui-icon layui-icon-share"></a>
            </div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="layui-icon layui-icon-slider"></i></a>
            </div>
			<ul class="layui-nav right">
			  <li class="layui-nav-item">
			    <a href="">通知<span class="layui-badge">9</span></a>
			  </li>
			  <li class="layui-nav-item">
			    <a href="javascript:;">
			    	<img src="//t.cn/RCzsdCq" class="layui-nav-img head-portrait">诸葛亮-d
			    </a>
			    <dl class="layui-nav-child">
			      <dd><a href="javascript:;">个人信息</a></dd>
			      <dd><a href="javascript:;">安全管理</a></dd>
			      <dd><a href="javascript:;">退了</a></dd>
			    </dl>
			  </li>
			</ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <!-- <li>
                        <a href="javascript:;" class="menu-first">
                            <i class="layui-icon layui-icon-username left-nav-li" lay-tips="会员管理"></i>
                            <cite>会员管理</cite>
                            <i class="layui-icon layui-icon-addition nav_right"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('苹果','welcome1.html')">
                                    <i class="layui-icon layui-icon-ios"></i>
                                    <cite>苹果</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('安卓','member-list.html')">
                                    <i class="layui-icon layui-icon-android"></i>
                                    <cite>安卓</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('打印','member-list1.html',true)">
                                    <i class="layui-icon layui-icon-print"></i>
                                    <cite>打印</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('会员删除','member-del.html')">
                                    <i class="layui-icon layui-icon-delete"></i>
                                    <cite>会员删除</cite>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="layui-icon layui-icon-align-right"></i>
                                    <cite>会员管理</cite>
                                    <i class="layui-icon layui-icon-addition nav_right"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a onclick="xadmin.add_tab('分享','member-del.html')">
                                            <i class="layui-icon layui-icon-share"></i>
                                            <cite>分享</cite>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="xadmin.add_tab('表单','member-list1.html')">
                                            <i class="layui-icon layui-icon-form"></i>
                                            <cite>表单</cite>
                                         </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="javascript:;" class="menu-first">
                            <i class="layui-icon layui-icon-form left-nav-li" lay-tips="订单管理"></i>
                            <cite>订单管理</cite>
                            <i class="layui-icon layui-icon-addition nav_right"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('订单列表','order-list.html')">
                                    <i class="layui-icon layui-icon-list"></i>
                                    <cite>订单列表</cite>
                                </a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('订单列表1','order-list1.html')">
                                    <i class="layui-icon layui-icon-list"></i>
                                    <cite>订单列表1</cite>
                               </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home layui-this">
                        <i class="layui-icon layui-icon-home"></i>我的桌面
                    </li>
                </ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd>
                    </dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe th:src='@{/home}' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
    </body>
</html>